#topic
{
    text-align: center;
    font-size: 80px;
}

#qbtn
{

    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}

#fuck
{
    align: center;
}

#qclass
{
    text-align: center;
    font-size: 40px;
}


#demo
{
    text-align: center;
    
}
