body{
  background-color: #3b676d;
}
body img{
  height: 100%;
  width: 100%;
  border-radius: 100% 100% 100% 100%;
}
#topic
{
    text-align: center;
    font-size: 70px;
    margin-bottom: 6%;
    color: orange;
}

#qbtn
{

    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}

#fbtn{
    margin-left: 60px;
    font-size: 20px;
    background-color: pink;
}
#gbtn{
  margin-left: 100px;
  font-size: 20px;
  background-color: pink;
}
#hbtn{
    font-size: 20px;
    margin-left: 90px;
    background-color: pink;
}

#fuck
{
    padding-left: 600px;
}

#qclass
{
    text-align: center;
    max-width: inherit;
}


#demo
{
    text-align: center;
}

#duck{
  display: flex;
  flex-shrink: 1;
  flex-wrap: wrap;
  flex-grow: 1;
}

.clean{
  margin-left: 10%;
  margin-bottom: 50px;
}
#global{
    display: flex;
    flex-shrink: 1;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
}
